{% extends "base.html" %}
{% load staticfiles %}

{% block title %} BAutomates: List {% endblock %}
{% block header %}
BAutomate
{% endblock %}

{% block content %}
{% if device_list %}
    <table id="devicetable">
        <thead> <tr> <th id="namecolumn"> Name </th>
                <th id="statuscolumn"> Status </th> </tr> </thead>
    <tbody>
        {% for device in device_list %}
           <tr id="{% if forloop.counter|divisibleby:2 %}evenrow{% else %}oddrow{% endif %}" >
               <td id="namecolumn"><div id="devicename">{{ device.name }}</div></td>
           {% if device.on %}
           <td id="statuscolumn"><a href="/bautomate/device/{{ device.id }}/off/">
                   <img src="{% static "worked-awhile-lights-icons-by-artbees/png/96/OnLamp.png" %}" alt="On"/>
           </a></td>
           {% else %}
           <td id="statuscolumn"> <a href="/bautomate/device/{{ device.id }}/on/">
                   <img src="{% static "worked-awhile-lights-icons-by-artbees/png/96/OffLamp.png" %}" alt="Off"/>
           </a></td>
           {% endif %}
           </tr>
        {% endfor %}
        <tr id="endrow"> <td> </td> <td> </td> </tr>
    </tbody>
</table>
{% else %}
   <p>No lights found</p>
{% endif %}
{% endblock %}
{% block footer %}
&copy; 2012-2013 Anders Arnholm : <a href="https://github.com/balp/bautomate/">BAutomate</a><br/>
Icons by <a href="http://artbees.net/worked-awhile-lights-icon-set/">Artbees</a> <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY-NC-ND 3.0</a>.
{% endblock %}
