{% extends "base.html" %}
{% load staticfiles %}

{% block title %} BAutomates: List {% endblock %}
{% block header %}
BAutomate
{% endblock %}

{% block content %}
{% if device_list %}
    <table id="devicetable">
        <thead> <tr> <th id="namecolumn"> Name </th>
                <th id="statuscolumn"> Status </th> </tr> </thead>
    <tbody>
        {% for device in device_list %}
           <tr id="{% if forloop.counter|divisibleby:2 %}evenrow{% else %}oddrow{% endif %}" >
               <td id="namecolumn">{{ device.name }} </td>
           {% if device.on %}
           <td id="statuscolumn"><a href="/bautomate/device/{{ device.id }}/off/">
                   <img src="{% static "worked-awhile-lights-icons-by-artbees/png/96/OnLamp.png" %}" alt="On"/>
           </a></td>
           {% else %}
           <td id="statuscolumn"> <a href="/bautomate/device/{{ device.id }}/on/">
                   <img src="{% static "worked-awhile-lights-icons-by-artbees/png/96/OffLamp.png" %}" alt="Off"/>
           </a></td>
           {% endif %}
           </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
   <p>No lights found</p>
{% endif %}
{% endblock %}
