<h1> Björkvägen - XMas Lights </h1>
{% if device_list %}
<table> <thead> <tr> <th> Name </th> <th> Status </th> </tr> </thead>
    <tbody>
        {% for device in device_list %}
           {% if device.on %}
           <tr><td>{{ device.name }} </td><td> <a href="/automate/device/{{ device.id }}/off/"> on </a></td></tr>
           {% else %}
           <tr><td>{{ device.name }} </td><td> <a href="/automate/device/{{ device.id }}/on/"> off </a></td></tr>
           {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
   <p>No lights found</p>
{% endif %}

