<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "styles.css" %}" />
        <title> {% block title %} Bautomate: Page {% endblock %} </title>
        {% block head %}
        	<meta http-equiv="refresh" content="300">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
        <div id="header">
            {% block header %}{% endblock %}
        <div id="navigation">
            {% block navigation %}{% endblock %}
        </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        </div>
        <div id="footer">
        <div id="footerdata">
            {% block footer %}{% endblock %}
        </div>
        </div>
    </body>
</html>
